<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP CAR</title>
</head>
<body>
    <a href="/car/">Trang đầu</a>&nbsp;&nbsp;
    <a href="/car/add">Thêm mới</a>&nbsp;&nbsp;
    <a href="/car/search">Tìm kiếm</a><br>
    <ul>
      <li th:each="car: ${cars}">
        <!-- <a th:href="@{/car/{id}(id=${car.id})}"><strong th:text="${car.model}"></strong></a><br> -->
        <a th:href="@{'/car/' + ${car.id}}"><strong th:text="${car.model}"></strong></a><br>
        <p>
            <img th:attr="src=@{'/images/' + ${car.photo}}, alt=${car.photo}" />
        </p>
      </li>
    </ul>
</body>
</html>